<script src="js/jquery-3.5.1.js"></script>
<script src="js/url.js"></script>

<script src="js/menu.js"></script>


<!-- Brand Logo -->
  <a href="inicial.html" class="brand-link" style="background-color: #FFF;text-align: center;">
    <img src="images/logomenu.png" >
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block" id="nome_logado"></a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-header">MENU</li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-copy"></i>
            <p>
              Planejamento
              <i class="fas fa-angle-left right"></i>
             <!-- <span class="badge badge-info right">6</span>-->
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="pontosdeparadas.html" class="nav-link">
                <i class="far nav-icon">-</i>
                <p>Pontos de Parada</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="rotas.html" class="nav-link">
                <i class="far nav-icon">-</i>
                <p>Rotas</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="itinerarios.html" class="nav-link">
                <i class="far nav-icon">-</i>
                <p>Itinerários</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="ord_serv_operacao.html" class="nav-link">
                <i class="far nav-icon">-</i>
                <p>Ordem Serviço Operação</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="linhas.html" class="nav-link">
                <i class="far nav-icon">-</i>
                <p>Linhas</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="corredores.html" class="nav-link">
                <i class="far nav-icon">-</i>
                <p>Corredores</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="grade_horaria.html" class="nav-link">
                <i class="far nav-icon">-</i>
                <p>Grade Horária</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="garagem.html" class="nav-link">
                <i class="far nav-icon">-</i>
                <p>Garagem</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="motorista.html" class="nav-link">
                <i class="far nav-icon">-</i>
                <p>Motorista</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="usuario.html" class="nav-link">
                <i class="far nav-icon">-</i>
                <p>Usuários</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>
              Monitoramento
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="pages/charts/chartjs.html" class="nav-link">
               <i class="far nav-icon">-</i>
                <p>ChartJS</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/charts/flot.html" class="nav-link">
               <i class="far nav-icon">-</i>
                <p>Flot</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/charts/inline.html" class="nav-link">
               <i class="far nav-icon">-</i>
                <p>Inline</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-tree"></i>
            <p>
             Fiscalização
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="pages/UI/general.html" class="nav-link">
               <i class="far nav-icon">-</i>
                <p>General</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/UI/icons.html" class="nav-link">
               <i class="far nav-icon">-</i>
                <p>Icons</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/UI/buttons.html" class="nav-link">
               <i class="far nav-icon">-</i>
                <p>Buttons</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/UI/sliders.html" class="nav-link">
               <i class="far nav-icon">-</i>
                <p>Sliders</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/UI/modals.html" class="nav-link">
               <i class="far nav-icon">-</i>
                <p>Modals & Alerts</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/UI/navbar.html" class="nav-link">
               <i class="far nav-icon">-</i>
                <p>Navbar & Tabs</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/UI/timeline.html" class="nav-link">
               <i class="far nav-icon">-</i>
                <p>Timeline</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/UI/ribbons.html" class="nav-link">
               <i class="far nav-icon">-</i>
                <p>Ribbons</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-edit"></i>
            <p>
              Ocorrências
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="pages/forms/general.html" class="nav-link">
               <i class="far nav-icon">-</i>
                <p>General Elements</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/forms/advanced.html" class="nav-link">
               <i class="far nav-icon">-</i>
                <p>Advanced Elements</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/forms/editors.html" class="nav-link">
               <i class="far nav-icon">-</i>
                <p>Editors</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/forms/validation.html" class="nav-link">
               <i class="far nav-icon">-</i>
                <p>Validation</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-adjust"></i>
            <p>
              Operações Difer.
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="pages/tables/simple.html" class="nav-link">
               <i class="far nav-icon">-</i>
                <p>Simple Tables</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/tables/data.html" class="nav-link">
               <i class="far nav-icon">-</i>
                <p>DataTables</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="pages/tables/jsgrid.html" class="nav-link">
               <i class="far nav-icon">-</i>
                <p>jsGrid</p>
              </a>
            </li>
          </ul>
        </li>


        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-building"></i>
            <p>
              Empresas
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
        </li>

        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-align-left"></i>
            <p>
              Relatórios
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
        </li>

        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-chart-line"></i>
            <p>
              Indicadores
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
        </li>

        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-recycle"></i>
            <p>
              NXNET1
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
        </li>

        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-question-circle"></i>
            <p>
              Central de Ajuda
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
        </li>

        
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
