
.boxTransparente {
    display: none;
    position: fixed; 
    width: 100%; 
    height: 100%; 
    z-index: 7777;
    background-image: url('../images/bgtransp.png') ;
  } 
  
  .formCadastra {
    width: 800px;
    height: auto;
    background-color: #FFF;
    border-radius: 5px;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    margin-top:100px;
    padding: 25px;
  }
  .espaco {
    height: 30px;
  }
  .espaco10 {
    height: 10px;
  }
  .linha {
    height: 1px;
    background-color:#E4E4E4;
    width: 100%;
  }
  
  .popAlerta {
    display: none;
    position: absolute;
    background-color: #FFCC66;
    width: 450px;
    height: 100px;
    line-height: 100px;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    top:5px;
    z-index: 99999;
    text-align: center;
   /*box-shadow: 0px 0px 20px #666;*/
}

.fundoVerde {
  background-color: #339966 ;
  color: #fff;
}
.fundoAmarelo {
  background-color: #FFCC66 ;
  color: #000;
}



.cursor {
    cursor:hand;
    cursor: pointer;
}
  


.btAtivo_ {
  width: 100px;
  height: 25px;
  line-height: 25px;
  background-color: #28A745;
  color: #FFF;
  text-align: center;
  border-radius: 3px;
}

.btInativo_ {
  width: 100px;
  height: 25px;
  line-height: 25px;
  background-color: #DC3545;
  color: #FFF;
  text-align: center;
  border-radius: 3px;
}










.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}